.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
Credentials.h
.agents/
__pycache__/
*.pyc


#Block read and write privilege access to any LLM,AI,Assistant,Agent to Credentials.h